.card {
  // height: 70px;
  // width: 70px
  width: auto;
  height: 10%;
  background-color: #009F18;
  // max-height: 20vh;
}

img {
  background-color: #009F18;
  
  // width: auto;
  // height: 50%;
  // max-height: 20vh;
}